@keyframes cup1{
    0% {opacity:0;left:-($cup-width-l);}
    100%{opacity:1;left:0;}
}
@keyframes cup2{
    0% {opacity:0;transform:translateX($cup-width-l);}
    100%{opacity:1;transform:translateX(0);}
    /*0% {opacity:0;right:-($cup-width-l);}
    100%{opacity:1;right:0;}*/
}
@keyframes intro{
    0%{opacity:0;}
    100%{opacity:1;}
}
.cup1-animation{
    @include animation(cup1, 1.2s, 0.5s, both);
}
.cup2-animation{
    @include animation(cup2, 1.2s, 0.8s, both);
}
.intro-animation{
    @include animation(intro, 0.7s, 1.5s, both);
}
@keyframes opacity {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
#loading span {
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: opacity;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
}

#loading span:nth-child(1) {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
}
#loading span:nth-child(2) {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}

#loading span:nth-child(3) {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
}