@keyframes cup1{
    0% {opacity:0;left:-($cup-width-l);}
    100%{opacity:1;left:0;}
}
@keyframes cup2{
    0% {opacity:0;right:-($cup-width-l);}
    100%{opacity:1;right:0;}
}
@keyframes intro{
    0%{opacity:0;}
    100%{opacity:1;}
}
.cup1-animation{
    @include animation(cup1, 1.2s, 0.5s, both);
}
.cup2-animation{
    @include animation(cup2, 1.2s, 0.8s, both);
}
.intro-animation{
    @include animation(intro, 0.7s, 1.5s, both);
}