@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin title(){
    text-align:center;
        color: white;
        text-shadow: 0 0 15px black;
        font-weight:bold;
        text-transform:uppercase;
}