header{
    background-image:url("../img/background-lighter.jpg");
    height:100vh;
    position:relative;
    transition: 1.5s;
    #intro{
        @include vertical-align();
        text-align:center;
        z-index: 1000;
    }
    #cup1{
        @include cup();
        top:100%;
        margin-top:-400px;
        left:0;
        background-image: url(../img/cup1l.png);
    }
    #cup2{
        @include cup();
        top:0;
        right:0;
        background-image: url(../img/cup3.png);
        background-position:right top;
    }
    h1,h2,p{
        @include title();
    }
    h1{
        font-size: 50px;
        margin-bottom:20px;
    }
    p{
        font-size:30px;
        margin: 20px 0;
        padding: 0 50px;
        text-transform: none;
    }
    #reload{
        background-color: darkred;
        border: 2px solid white;
        color: white;
        transition:0.5s;
        text-transform:uppercase;
        &:hover{
            background-color: white;
            color:darkred;
        }
    }

}
.list{
    @include title();
}
.main-content-wrapper{
    background:url(../img/coffee-bg.jpg) no-repeat right bottom;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0 100px;
    min-height: 93vh;
    display:none;
}
.main-items-wrapper{
    background-color: rgba(241,216,195,0.8);
}
.item-wrapper{
    background-image:url(../img/cup.png);
    background-size: 20% auto;
    background-position: 95% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 0 15px 0 30px;
    border-top:1px dotted brown;
    transition: 0.5s;
    a{
        color: rgb(72,28,22);
        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        background-position: 95% 90%;
    }
    &:hover .image-container img{
        transform:rotate(0deg);
        box-shadow: 0 0 15px black;
    }
}
.item-wrapper:nth-child(odd){
    border-width: 1px 1px 0 0;
    border-style: dotted;
    border-color: brown;
}
.item-wrapper:nth-child(even){
    border-width: 1px 0 0 0;
    border-style: dotted;
    border-color: brown;
}
.item-wrapper:nth-child(1), .item-wrapper:nth-child(2){
    border-top:none;
}

.item-content{
    margin: 30px 0;
}
.image-container{
    padding:0;
}
.data-container{
    padding-top:30px;
    p{
        font-size: 18px;
        line-height:1.1;
        margin-bottom:5px;
        .label{
            font-size:18px;
            font-weight: bold;
            padding:0;
            color:rgb(72,28,22);
        }
    }
    .name{
    text-transform: uppercase;
    font-weight: bold;
    font-size:20px;
    line-height:1;
    }
}

.image-container img{
    transform: scale(0.8) rotate(-2deg);
    border: 7px solid white;
    box-shadow: 0 0 5px brown;
    transition: 0.5s;
}
#content-wrapper{
    padding: 20px;
    position:relative;  
}

.sort-wrapper 
{
    margin: 20px auto;

    span{
    font-size:20px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
    }
}
#sort-criteria{
    border: none;
    border-radius: 5px;
    background-color: rgba(72,28,22,0.8);
    color: white;
    font-weight: bold;
}
.no-coffees{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
}


