@media only screen and(max-width:1199px) {
    header {
        background-image: url("../img/background-lighter-lg.jpg");
        #cup1,
        #cup2 {
            width: $cup-width-m;
            height: $cup-height-m;
        }
    }
    .main-content-wrapper {
        background-image: url("../img/coffee-bg-lg.jpg");
    }
    .data-container {
        padding-top: 20px;
        .name {
            font-size: 18px;
        }
        p {
            font-size: 16px;
            line-height: 1;
            .label {
                font-size: 16px;
            }
        }
    }
}

@media only screen and(max-width:991px) {
    header {
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 24px;
        }
    }
    .list {
        font-size: 28px;
    }
    .item-wrapper:nth-child(odd) {
        border-width: 0;
        border-style: dotted;
        border-color: brown;
    }
    .item-wrapper:nth-child(even) {
        border-width: 0;
        border-style: dotted;
        border-color: brown;
    }
    .item-wrapper {
        border-top: 1px dotted brown !important;
    }
    .item-wrapper:nth-child(1) {
        border-top: none !important;
    }
    .data-container {
        padding-top: 30px;
        .name {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
        }
        p {
            font-size: 18px;
            line-height: 1.1;
            .label {
                font-size: 18px;
            }
        }
    }
}

@media only screen and(max-width:767px) {
    header {
        background-image: url("../img/background-lighter-md.jpg");
        #cup1,
        #cup2 {
            width: $cup-width-s;
            height: $cup-height-s;
            opacity: 1;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 30px;
        }
    }
    .main-content-wrapper {
        background-image: url(../img/coffee-bg-md.jpg);
    }
    .list {
        font-size: 24px;
    }
    .image-container {
        text-align: center;
    }
    .image-container img {
        width: 60%;
        margin: 50px 0;
        transform: rotate(0deg) scale(1);
        box-shadow: 0 0 10px brown;
    }
    .item-wrapper:hover .image-container img {
        transform: scale(1);
        box-shadow: 0 0 20px black;
    }
    .item-wrapper {
        background-position: 100% 100%;
        padding: 0 15px;
        &:hover {
            background-position: 100% 100%;
        }
    }
    .data-container {
        padding-top: 0;
        padding-right: 120px;
    }
}

#map-picker-container .map-picker-wrapper #place-input-container.expanded {
    width: 70%;
}

@media only screen and(max-width:699px) {
    #map-picker-container .map-picker-wrapper .map-name {
        margin-top: 20px;
    }
}

@media only screen and(max-width:499px) {
    header {
        background-image: url("../img/background-lighter-sm.jpg");
        #intro {
            h1 {
                font-size: 33px;
            }
            h1,
            h2,
            p {
                padding: 0 20px;
            }
        }
    }
    .main-content-wrapper {
        background-image: none;
        background-color: rgb(242, 218, 197);
        padding: 50px 0;
    }
    #content-wrapper {
        padding: 0 20px;
    }
    .item-wrapper {
        background-image: none;
    }
    .image-container img {
        width: 85%;
        margin: 0 20px;
    }
    .data-container {
        padding: 0;
        text-align: center;
        .name {
            margin-top: 20px;
            font-size: 20px;
        }
    }
    #map-picker-container .map-picker-wrapper #place-input-container.expanded {
        width: 100%;
        z-index:100 !important;
    }
}