//colors
$light-coffee: rgb(241,216,195);
$coffee-color:rgb(72,28,22);

//cup dimensions
$cup-width-l: 500px;
$cup-height-l: 400px;
$cup-width-m: 400px;
$cup-height-m: 320px;
$cup-width-s: 300px;
$cup-height-s: 240px;
